{% assign document = post | default: page %}
<p class="page__meta">
  {% if document.date %}
    {% assign date = document.date %}
    <span class="page__meta-date">
      <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>
      {% assign date_format = site.date_format | default: "%Y.%m.%d" %}
      <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: date_format }}</time>
    </span>
  {% endif %}

  <span class="page__meta-sep"></span>
  
  <span class="page__meta-hits">
    <i class="fas fa-fw fa-eye" aria-hidden="true"></i>
    <img src="https://hits.sh/coffeemiller.github.io.svg?label=SITE%20HITS&color=3d85c6&style=flat-square" alt="Hits" style="vertical-align: middle; margin-top: -3px; height: 20px;">
  </span>

  {% if document.read_time %}
    <span class="page__meta-sep"></span>
    {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
    {% assign words = document.content | strip_html | number_of_words %}

    <span class="page__meta-readtime">
      <i class="far fa-fw fa-clock" aria-hidden="true"></i>
      {% if words < words_per_minute %}
        {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
      {% elsif words == words_per_minute %}
        1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
      {% else %}
        {{ words | divided_by: words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
      {% endif %}
    </span>
  {% endif %}
</p>
